/* html is set to 62.5% so that all the REM measurements are based on 10px sizing. So basically 1.5rem = 15px */
html {
  font-size: 62.5%;
}
body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  background: url(img/background.jpeg) center center no-repeat fixed;
  background-size: cover;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}

h1 { font-size: 3.6rem; }
h2 { font-size: 3.0rem; }
h3 { font-size: 2.4rem; }
h4 { font-size: 1.8rem; }
h5 { font-size: 1.5rem; }
h6 { font-size: 1.4rem; }

/**
 * Links
 */
a {
  text-decoration: none; 
  color:#EF6D3D;
}
a:hover {
  text-decoration: underline;
}

/**
 * Layout styles
 */

/* Full size background image */
html, #container, .inner { background-color:transparent;}
html {
  background:url(img/background.jpeg) center center no-repeat fixed;
  background-size:cover;
}
body {
  max-width:800px;
  margin:25px auto;
}
header, #content, footer { 
  padding:25px;
}

#content {
  color:#000000;
  background:#FFFFFF;
}

header, footer {
  text-align: center;
  background: rgba(0, 136, 255, 0.848); 
  color:#FFFFFF; 
}

/* Hide and show */
#2048_content {
  display: none;
}

/* Menu Links */
ul.main-menu {
  margin: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  width: 80%;
}
ul.main-menu li a {
  margin-right:20px;
  font-size:2.0rem;
  border-bottom: solid transparent 3px;
  color:#cfd2da;
}
ul.main-menu li a:hover {
  color:#FFFFFF;
}
ul.main-menu li a.active {
  color:#FFFFFF;
  border-bottom-color:#EF6D3D;
}

/* Utility classes */
.hide {
  display:none;
}
.show {
  display:block;
}
.column3 {
  float: left;
  width: 30%;
  padding: 10px;
  text-align: center;
}
.column2 {
  float: left;
  width: 30%;
  padding: 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.show-button {
  font-size: 1rem;
  background-color: #efefef; /* Light gray background */
  border: 1px solid #ccc; /* Gray border */
  padding: 4px 4px; /* Adjust padding for better spacing */
  cursor: pointer;
}

.show-button:hover {
  background-color: #ddd; /* Lighter gray background on hover */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Subtle shadow effect */
}

.project-card {
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
}

.content-region.hide h1 {
  font-size: 3.6rem; 
  line-height: 1.25; 
  letter-spacing: -.1rem; 
  margin-top: 1rem; 
  margin-bottom: .5rem;
  text-align: center;
}

.icon-list {
  list-style: none;
  padding: 0;
  display: flex; /* Use flexbox to align items horizontally */
  justify-content: center;
}

.icon-list li {
  margin-right: 20px; /* Adjust the space between list items */
}

.icon-list a i {
  margin-right: 10px; /* Adjust spacing between icon and text */
}

#contact-form {
  max-width: 300px;
  margin: 0 auto;
  text-align: center; /* Center the text inside the contact-form div */
}

#message-form {
  text-align: left; /* Align the text inside the message-form div to the left */
}

#message-form label,
#message-form input,
#message-form textarea {
  display: block;
  margin-bottom: 10px;
}

#message-form input,
#message-form textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

#message-form button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

#message-form button:hover {
  background-color: #45a049;
}