/* Dark Mode */
.dark-mode {
  background-color: #222;
  color: #fff;
}

.dark-mode .left-half {
  background-color: #333;
}

.dark-mode .vertical-nav ul li a {
  color: #fff;
}

.dark-mode .tech-bubbles span {
  background-color: #555;
}

.dark-mode .social-icons a {
  color: #fff;
}

.dark-mode a {
  color: #bb86fc; /* Light purple link color for better visibility */
}

.dark-mode a:hover {
  color: #e0aaff; /* Slightly lighter color on hover */
}

/* */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
  color: #333;
}

.container {
  display: flex;
  width: 100%;
}

.right-half {
  padding: 2%;
  width: 100%;
  overflow-y: auto;
}

.left-half {
  padding: 2%;
  width: 100%;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (min-width: 768px) {
  .left-half {
    width: 30%;
  }

  .right-half {
    width: 70%;
  }
}

.toggle-container {
  position: fixed;
  top: 1%;
  left: 1%;
  z-index: 9999;
}
.toggle-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}
.dark-toggle {
  color: white;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.profile h1 {
  margin: 0;
  font-size: 2.5em;
}

.profile .role {
  font-size: 1.2em;
  margin: 1% 0;
}

.profile .description {
  font-size: 1em;
  margin: 1% 0 2%;
}

.vertical-nav ul {
  list-style-type: none;
  padding: 0;
}

.vertical-nav ul li {
  margin: 1% 0;
}

.vertical-nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 1.1em;
}

.vertical-nav ul li a.active {
  color: #007bff;
  font-size: 1.3em;
  transition: font-size 0.3s, color 0.3s;
}

.social-icons a {
  color: #333;
  margin: 0 1%;
  font-size: 1.5em;
}

.section {
  margin-bottom: 6%;
}

.section h2 {
  font-size: 2em;
  border-bottom: 2px solid #333;
  padding-bottom: 1%;
  margin-bottom: 2%;
}

.project, .job {
  margin-bottom: 2%;
}

.project h3, .job h3 {
  margin: 0;
}

.job, .project {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #eee;
}

.dark-mode .job, .dark-mode .project {
  background-color: #444;
  border: 1px solid #666;
}

.tech-bubbles span {
  background-color: #e0e0e0;
  border-radius: 20px;
  padding: 0.5em 1em;
  margin: 0.5em;
  display: inline-block;
}

.skills-logos {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.skills-logos img {
  width: 10vw;
  height: 10vw;
  margin: 1%;
}
